/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

@import 'mixins/mixin';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,800,900&subset=cyrillic');


 // Import files
@import 'variables/variables';
@import 'core/reset';
@import 'core/form';
@import 'core/grid';


// Elements color ==========================================================
// Example for button 
// --------------------------
// for html - btn__primary, btn__success etc...
// --------------------------
// for scss 
// .btn{
// 	@each $status, $color in $el_bg_colors {
// 		&__#{$status} {
// 			background: $color;
// 		}
// 	}
// }


// End @mixin and variables


// Main wrappers =====================================

.wrapper {
	font-size: $main_font_size;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer_height) auto; // отрицательный нижний отступ на высоту футера
}

.container_center {
	max-width: $container_width;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

.column {
	@include columns(4, 20px, 300px);
}

// Social link
.soc {
	float: left;
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background-color: #000;
		text-align: center;
		text-decoration: none;
		@include trs(0.3s);
		&:hover {
			opacity: .8;
		}
		&:before {
			content: 'soc';
			color: #fff;
			text-decoration: none;
		}
	}
}

.copy {
	float: right;
}

/* Header
 ----------------------------------------------------------------------------- */
.header {
	padding: 22px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	@extend %clear_a;
	&__logo {
		float: left;
		width: 247px;
	}
	&__action {
		overflow: hidden;
		text-align: right;
		padding-top: 25px;
		a {
			vertical-align: middle;
			margin-left: 36px;
			color: #fff;
		}
		.btn {
			padding: 10px 17px 12px;
			letter-spacing: 0.03em;
		}
	}
}


// stiky menu
.stiky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

/* Navbar
-------------------------------------------------------------------------------*/
.navbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-align: right;
	&__item {
		display: inline-block;
	}
	&__link {}
}

/* Middle
 ----------------------------------------------------------------------------- */
.main__content {
	padding-bottom: $footer_height;
	@extend %clear_a;
}

.first__screen {
	display: table;
	width: 100%;
	background: url('../img/bg.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	&_vertical {
		display: table-cell;
		vertical-align: middle;
		padding-top: 140px;
		padding-bottom: 117px;
	}
	&_date {
		float: right;
		text-align: right;
		margin-top: 58px;
		font-weight: 500;
		width: 30px;
		&-item {
			border-top: 1px solid transparentize(#fff, .6);
			padding: 24px 5px;
			font-size: 14px;
			text-transform: uppercase;
			&:last-child {
				border-bottom: 1px solid transparentize(#fff, .6);
			}
		}
	}
	&_hours {
		font-weight: 800;
		margin-bottom: 31px;
		white-space: nowrap;
	}
	&_pretitle {
		letter-spacing: 14.4px;
		overflow: hidden;
		// margin-bottom: 40px;
	}
	&_title {
		overflow: hidden;
		font-weight: 800;
		text-transform: uppercase;
		color: #fff;
		font-size: 48px;
		letter-spacing: 2.4px;
		margin: 0 0 87px;
		&-lg {
			font-weight: 900;
			display: block;
			margin-left: -10px;
			margin-bottom: -5px;
			font-size: 180px;
			color: #ff0000;
			letter-spacing: 9px;
		}
	}
	&_action {
		overflow: hidden;
		&_sub {
			display: inline-block;
			vertical-align: middle;
			margin-left: 62px;
			line-height: 1.5;
		}
	}
	.btn {}
}
.btn__danger {}


/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	position: relative;
	height: $footer_height;
	background-color: #000000;
	color: #666666;
	font-size: 13px;
	@extend %clear_all;
	.container_center {
		padding-top: 35px;
		padding-bottom: 10px;
	}
	a {
		color: #666666;
	}
}

/* Responsive styles
----------------------------------------------------------------------------- */
// max-width: 1200px ===========================================================
@media (max-width: $breakpoint-xlarge) {
}

// max-width: 960px ===========================================================
@media (max-width: $breakpoint-large) {
	
}

// max-width: 760px ===========================================================
@media (max-width: $breakpoint-medium) {
	
}

// max-width: 480px ===========================================================
@media (max-width: $breakpoint-small) {
	
}


